 <style>

ul {
 list-style-type: none;
 list-style: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
 text-decoration: none;
 font-family: "helvetica";
 color: #7f0909
}

.nav {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 font-family: "helvetica";
}

.nav li{
 color: #7f0909;
 font-family: "helvetica";
}

li {
 float: left;
}

li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

li a: hover {
 background-color: #555;
 color: white;
}
body {
  background-color: #F2D2BD;
 font-family: "helvetica";
}

h1 {
  color: #7f0909! important;
  text-align: center;
 font-family: "helvetica";
}

h2 {
  color: #7f0909! important;
  text-align: left;
 font-family: "helvetica";
}

p {
  font-family: "helvetica";
  color: #7f0909! important;
  font-size: 20px;
}

img {
  width: 400px,
  height: 300px
}
</style>
